
/* ************************game section************************************* */
#gameContainer{
    text-align: center;
    width: 70%;
    margin: auto;
}

/* *************************cell container************************************************* */
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 25%;
    /* margin: auto; */
}
.cell{
    width: 75px;
    height: 75px;
    border: 1px solid;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    border-color: black;
}

/* *****************************players****************************************************** */
.players{
    display: flex;
    border: 1px solid;
}

/* *********************display settings for the players************************************************* */
.joueur1{
    width: 39%;
    background-color: red;
    color: white;
}

.joueur2{
    width: 39%;
    text-align: center;
}

.joueur1 h2{
    margin: 0;
}

.joueur2 h2{
    margin: 0;
}

strong{
    font-size: x-large;
}

/* ******************************restart button*************************************************** */

#restartBtn{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;
}
